<div class="footer">
    <div class="well">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">

                </div>
                <div class="col-sm-8 center">
                    <p>&copy;2017 Projet 5 - NAO</p>
                </div>
                <div class="col-sm-2">

                </div>
            </div>
        </div>
    </div>
</div>
<div class="cRetour"></div>

