<div class="footer">
    <div class="well">
        <div class="container">
            <div class="row">


                <div class="col-sm-12 center">
                    &copy;2017 Projet 5 - NAO |
                    <a href="#" data-toggle="modal" data-target="#modalContact" >Nous contacter</a> |
                    <a href="{{ path('learn_more') }}">Qui sommes-nous ?</a> |
                    <a href="#">Fonctionnement</a>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="cRetour"></div>

