{% extends "AppBundle::layout.html.twig" %}

{% block title %}En savoir plus{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}



    <div class="container">

        <div class="well">
            <h3>L'association NAO</h3>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat pretium ligula et viverra. Sed varius libero id convallis rhoncus. In vestibulum fermentum arcu, sit amet hendrerit sapien tincidunt vel. Mauris volutpat lectus orci. Nulla maximus non lectus sodales interdum. Fusce placerat turpis porttitor placerat aliquam. Nunc id iaculis lorem. Suspendisse elit massa, ornare sed facilisis quis, auctor ac justo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas dui sem, tincidunt ac iaculis nec, eleifend quis tellus.

                Nullam urna ex, dignissim vitae blandit ut, sollicitudin a est. Etiam at tincidunt dolor, vel consectetur elit. Curabitur malesuada ligula urna, ut viverra nunc faucibus sit amet. Etiam congue eleifend ex, eu lobortis massa ornare sit amet. Donec quis leo velit. Sed aliquet lacus vitae enim interdum maximus. In hac habitasse platea dictumst. Quisque tellus urna, dignissim at dui in, tincidunt volutpat quam.

                Etiam et nibh tristique, placerat quam id, iaculis quam. Aliquam semper tristique condimentum. Praesent finibus luctus nulla sit amet convallis. Etiam non vehicula neque. Ut finibus facilisis euismod. Cras non ultricies turpis, eget elementum arcu. Nam maximus ac metus eget commodo. Suspendisse a mollis enim. Quisque ac placerat dolor. Ut at ante dignissim, congue augue in, vulputate ipsum. </p>
        </div>
    </div>
{% endblock %}

