<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Dernières Observations</h3>
    </div>
    <div class="panel-body">
        <ul>
            {% for listLastObservation in listLastObservations %}
                <li><a href="{{ path('view_one_observation', {'id': listLastObservation.id}) }}">{{ listLastObservation.title | truncate(50, false, '...') }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>


