<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Newsletter</h3>
    </div>
    <div class="panel-body">
        <form class="form-inline">
            <div class="form-group">
                <label for="exampleInputEmail2">Indiquer votre Email</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="exampleInputAmount" placeholder="email@email.com">
                    <div class="input-group-addon">Ok</div>
                </div>
            </div>
        </form>
    </div>
</div>
